<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A website focusing on forest conservation and wildlife in Indonesia." />
    <meta name="theme-color" content="#e8eedc" />
    <link rel="icon" type="image/png" href="rimbawa-360.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Direktori Ekowisata Hutan</title>
  </head>
  <body>
    <navbar-rimbawa></navbar-rimbawa>
    <section class="detail-spesies">
      <div class="spesies-detail-container">
        <div class="spesies-image-container">
          <img id="spesies-image" class="spesies-detail-image" src="" alt="Spesies Image" />
          <p id="spesies-description" class="spesies-description"></p>
        </div>
        <div class="spesies-detail-wrapper">
          <div class="spesies-detail-text">
            <h2 id="spesies-name"></h2>
            <hr />
            <p class="detail-label"><strong>Kerajaan</strong> <span id="spesies-kerajaan"></span></p>
            <p class="detail-label"><strong>Kelas</strong> <span id="spesies-kelas"></span></p>
            <p class="detail-label"><strong>Ordo</strong> <span id="spesies-ordo"></span></p>
            <p class="detail-label"><strong>Spesies</strong> <span id="spesies-spesies"></span></p>
          </div>
          <div class="spesies-detail-row">
            <hr />
            <div class="detail-row">
              <p>
                <strong>Populasi<br /> </strong> <span id="spesies-populasi"></span>
              </p>
              <p>
                <strong>Rentangan Hidup<br /></strong> <span id="spesies-rentangan-hidup"></span>
              </p>
            </div>
            <hr />
            <div class="detail-row">
              <p>
                <strong>Panjang <br /></strong> <span id="spesies-panjang"></span>
              </p>
              <p>
                <strong>Berat <br /></strong> <span id="spesies-berat"></span>
              </p>
            </div>
            <hr />
            <div class="detail-row">
              <p>
                <strong>Kecepatan Tertinggi <br /></strong> <span id="spesies-kecepatan-tertinggi"></span>
              </p>
              <p>
                <strong>Status Konservasi <br /></strong> <span id="spesies-status-konservasi"></span>
              </p>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <button class="btn-back" id="backButton">Kembali</button>
    </section>

    <footer-rimbawa></footer-rimbawa>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</html>
