body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8eedc;
  overflow-x: hidden;
}

#mainContent {
  padding-top: 70px;
}

.login-section {
  margin-top: 50px;
  padding: 10px 0;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

.login-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 120px;
  height: auto;
}

.login-section .card {
  background-color: rgba(231, 228, 228, 0.722);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

.login-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #56ab2e;
}

.login-section label {
  color: #4d4d4d !important;
}

.login-section ::placeholder {
  color: #9f9d9d;
}

.login-section p {
  text-align: center;
}

.login-section a {
  text-decoration: none;
  color: #56ab2e;
}

.lupa-password p {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 7px;
}

.lupa-password a {
  color: #56ab2e;
}

.btn-login {
  margin-top: 20px;
  background-color: #004225;
  color: #eeeeee;
  margin-bottom: 20px;
  width: 305px;
}

.btn-login:hover {
  background-color: #527853 !important;
  color: #eeeeee !important;
}

.input-group-append {
  cursor: pointer;
}

.fa-eye,
.fa-eye-slash {
  font-size: 1.5rem;
  color: #858383;
}

.register-section {
  margin-top: 20px;
  padding: 10px 0;
}

.register-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

.register-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 120px;
  height: auto;
}

.register-section .card {
  background-color: rgba(231, 228, 228, 0.722);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

.register-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #56ab2e;
}

.register-section label {
  margin-bottom: 8px;
  color: #4d4d4d !important;
}

.register-section ::placeholder {
  color: #9f9d9d;
}

.register-section p {
  text-align: center;
}

.register-section a {
  text-decoration: none;
  color: #56ab2e;
}

.btn-register {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #004225;
  color: #eeeeee;
  width: 100%;
}

.btn-register:hover {
  background-color: #527853 !important;
  color: #eeeeee !important;
}

.btn-up {
  background-color: #bbe0aa !important;
  color: #004225 !important;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  padding: 10px 18px;
  text-align: center;
  letter-spacing: 1px;
}

.btn-up:hover {
  background-color: #004225 !important;
  color: #eeeeee !important;
  letter-spacing: 1px;
}

.btn-comment {
  background-color: #bbe0aa !important;
  color: #004225 !important;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  padding: 10px 16px;
  text-align: center;
  letter-spacing: 1px;
}

.btn-comment:hover {
  background-color: #004225 !important;
  color: #eeeeee !important;
  letter-spacing: 1px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none;
}

.btn-back-to-top.show {
  display: block;
  animation: fadeInUp 0.5s ease forwards;
}

/* Forum Diskusi */
.btn-forum {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: none;
}

.btn-forum.show {
  display: block;
  animation: fadeInUp 0.5s ease forwards;
}

.forum-container {
  position: fixed;
  bottom: 100px;
  left: 20px;
  width: 400px;
  background-color: #e8eedc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: none;
  z-index: 10000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forum-content h2 {
  font-size: 1.5rem;
  position: sticky;
  margin-bottom: 15px;
  background-color: #004225; /* Warna hijau tua */
  color: #e8eedc; /* Warna teks putih */
  padding: 10px; /* Ruang tambahan di sekitar teks */
  border-radius: 5px; /* Sudut melengkung */
  text-align: center;
}

.forum-container.show {
  display: block;
}

.forum-content {
  max-height: 600px;
  overflow: auto;
  padding: 15px;
}

.forum-content::-webkit-scrollbar {
  width: 0; /* Untuk browser WebKit */
}

.forum-content {
  scrollbar-width: none; /* Untuk browser Firefox */
}

.form-label {
  margin-bottom: 0.1rem;
}

.forum-post {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1); /* Atur box-shadow */
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-header .user-info h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.post-header .user-icon {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 5px;
  top: -10px;
}
.post-header small {
  font-size: 0.65rem;
}

.user-mid h6 {
  padding: none;
  margin-top: 5px;
  font-size: 1.4;
}

.user-mid p {
  color: #212529;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin-right: 5px;
  padding: 4px 8px;
  background-color: #5b5959;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  margin-top: 10px;
}

.actions button:hover {
  background-color: #004225;
}

.btn-kirim {
  background-color: #bbe0aa !important;
  color: #004225 !important;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 290px;
  margin-top: -10px;
}

.btn-kirim:hover {
  background-color: #004225 !important;
  color: #eeeeee !important;
}

.swal2-popup {
  font-family: Arial, sans-serif;
}

.swal2-title {
  font-size: 1.5rem;
}

.swal2-content {
  font-size: 1rem;
}

.swal2-actions {
  margin-top: 20px;
}

.swal2-actions .btn {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Keyframe untuk animasi muncul */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  padding: 50px 0;
}

.dropdown-menu {
  background-color: #e8eedc;
  border: none;
  min-width: auto !important;
  width: auto !important;
  padding: 10px auto;
  text-align: center;
  line-height: 25px;
  font-size: 1.1rem;
  padding-top: 20px;
  left: 50%;
  transform: translateX(-5%);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #bbe0aa !important;
  color: #333433 !important;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  background-color: #e8eedc !important;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed; /* Mengubah position dari sticky ke fixed */
  top: 0;
  width: 100%; /* Pastikan navbar mengisi seluruh lebar layar */
  z-index: 2000;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-nav .nav-link.active {
  color: #56ab2e !important;
  background-color: transparent !important;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #333433 !important;
}

.nav-link:hover {
  color: #56ab2e !important;
}

.ms-auto {
  margin-left: auto !important;
}

.login-btn,
.daftar-btn {
  margin-right: 60px;
  font-size: 1.1rem;
  padding: 8px 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.login-btn {
  background-color: transparent;
  border: 2px solid #004225 !important;
  color: #004225;
}

.login-btn:hover {
  background-color: #004225 !important;
  border: 2px solid #004225 !important;
  color: #eeeeee;
}

.daftar-btn {
  background-color: #004225;
  border: 2px solid #004225 !important;
  color: #eeeeee;
}

.daftar-btn:hover {
  background-color: transparent;
  color: #004225;
  border: 2px solid #004225 !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 80px;
}

.hero-section {
  padding: 0;
  position: relative;
  width: 100%;
  height: 660px;
}

.hero-section .container {
  margin-top: -15px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #d2e0bb !important;
  font-weight: bolder;
  line-height: 1.5;
}

.hero-section p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeeeee !important;
}

.btn-jelajah {
  background-color: #004225;
  border: 2px solid #004225;
  color: #eeeeee;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-jelajah:hover {
  background-color: rgb(13, 43, 13) !important;
  border: 2px solid #e8eedc;
  color: #eeeeee !important;
}

.btn-primary {
  background-color: #004225 !important;
  color: #eeeeee !important;
  border: 3px solid #004225 !important;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: #e8eedc !important;
  color: #004225 !important;
  border: 3px solid #004225 !important;
  letter-spacing: 1px;
}

.btn-link {
  margin-left: 70px;
  font-size: 1.3rem;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 400;
}

.btn-link:hover {
  color: #cdedd6 !important;
}

i.fa-angle-right {
  margin-left: 10px;
  font-size: 1.5rem;
}

.hero-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.hero-section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-section h1 {
  color: #fff;
}

.hero-section p {
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.edukasi-section h2 {
  font-size: 2.8rem;
  margin-left: 20px;
  font-weight: 700;
}

.edukasi-section {
  background-color: #e8eedc;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.flex-item {
  background-color: #d2e0bb;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.inner-flex-container {
  display: flex;
  align-items: stretch;
  gap: 0;
  flex: 1;
}

.row1 {
  flex-direction: row;
}

.row2 {
  flex-direction: row-reverse;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.tentang-kami-section .text {
  text-align: justify;
  font-size: 1.5em;
  margin-left: 20px;
}

.edukasi-section .text {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.8;
}

.image-edukasi img {
  display: block;
  height: 250px;
  width: 350px;
}

.image-edukasi {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.tentang-kami-section {
  background-color: #eeeeee;
  padding-bottom: 65px;
}

.tentang-kami-section h2 {
  font-size: 50px;
  padding-top: 65px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.content-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-tentang img {
  width: 450px;
  height: auto;
}

.text {
  flex: 1;
}

.spesies-section {
  position: relative;
}

.spesies-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 50vw;
  height: 100%;
  background-color: #e8c614;
  border-radius: 0 100% 100% 0;
  z-index: -1;
}

.spesies-section .container {
  position: relative;
  z-index: 1;
}

.spesies-section .image-row {
  height: 100%;
}

.spesies-section .full-height {
  height: 100%;
  width: 100%;
}

.spesies-section .d-flex img {
  border-radius: 20px;
}

.spesies-section h2 {
  font-size: 50px;
  text-align: right;
}

.spesies-section .large-img {
  flex: 2 1 0;
  object-fit: cover;
  height: 35%;
}

.spesies-section .small-img {
  flex: 1 1 0;
  object-fit: cover;
  height: 40%;
}

.spesies-section .row + center {
  margin-top: 20px;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 0 20px 20px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.destinasi-section h2 {
  font-size: 40px;
}

.destinasi-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.destinasi-section .row .col-md-4 {
  background-color: #e8c614;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.destinasi-section .row .col-md-4 .image-container {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.destinasi-section .row .col-md-4 .image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinasi-section .row .col-md-4 .image-container h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #004225;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0px 0px 0px 10px;
  font-size: 1.1em;
}

.destinasi-section .row .col-md-4 .text-content {
  background-color: #b5e0cd;
  padding: 15px;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.destinasi-section .row .col-md-4 .text-content h4,
.destinasi-section .row .col-md-4 .text-content p {
  margin: 0;
}

.destinasi-section .row .col-md-4 h4 {
  margin-bottom: 10px;
  text-align: justify;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cerita-kita-section {
  background-color: #eeeeee;
}

.cerita-kita-section h2 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.cerita-kita {
  border-radius: 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 40px 60px;
}

.cerita-1 {
  background-color: #b5e0cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cerita-2 {
  background-color: #b5e0cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cerita-3 {
  background-color: #b5e0cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blockquote {
  font-size: 1.2rem;
  color: #333536;
}

.blockquote h3 {
  font-weight: 700;
}

.waktu-unggah {
  color: #545556;
  font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(80%) sepia(100%) saturate(1500%) hue-rotate(120deg);
}

.detail-cerita {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.link-cerita {
  color: #004225;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

footer {
  background-color: #004225;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer ul li a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.1rem;
}

footer ul li a:hover {
  color: #d2e0bb;
}

footer p {
  color: #eeeeee;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 10px;
}

footer h5 {
  color: #eeeeee;
  text-decoration: underline;
  text-underline-offset: 7px;
  padding-bottom: 15px;
  margin-left: 80px;
}

footer hr {
  border: none;
  border-top: 2px solid #eeeeee !important;
  width: 85%;
  margin: 0 auto;
}

footer .list-unstyled {
  margin-left: 80px;
  justify-content: center;
}

footer .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 90px;
}

footer .list-inline-item {
  display: inline-block;
  margin-right: 10px;
}

footer .list-inline-item a {
  color: #ffffff;
}

footer .list-inline-item a:hover {
  color: #d2e0bb;
}

footer .fa-2x {
  font-size: 2em;
}

.destinasi-page hr {
  border: none;
  height: 4px;
  background-color: #242524;
  opacity: 100%;
  margin-left: 13px;
  width: 42%;
  position: relative;
}

.destinasi-page {
  position: relative;
}

.peta-interaktif-section h2 {
  font-size: 2.2rem;
}

#map {
  height: 500px;
  width: 100%;
}

.detail-direktori-section {
  padding: 50px 0;
  background-color: #eeeeee;
}

.detail-direktori-section:after {
  content: "";
  position: absolute;
  top: 142px;
  right: 1355px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ec9c00;
}

.detail-direktori-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.detail-direktori-section h4 {
  margin-top: 10px;
  font-weight: 600;
}

.detail-direktori-section p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.destinasi-page h2 {
  font-size: 25px;
  margin-left: 13px;
  padding-bottom: 10px;
}
.destinasi-page h1 {
  margin-left: 12px;
}

.destinasi-page .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.destinasi-page .row .col-md-4 {
  background-color: #e8c614;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 25px;
}

.destinasi-page .row .col-md-4 .image-container {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.destinasi-page .row .col-md-4 .image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.destinasi-page .row .col-md-4 .image-container h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #004225;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0px 0px 0px 10px;
  font-size: 1.1em;
}

.destinasi-page .row .col-md-4 .text-content {
  background-color: #b5e0cd;
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.destinasi-page .row .col-md-4 .text-content h4,
.destinasi-page .row .col-md-4 .text-content p {
  margin: 0;
}

.destinasi-page .row .col-md-4 h4 {
  margin-bottom: 10px;
  text-align: justify;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.destinasi-page .row .col-md-4:last-child {
  margin-right: 0;
}

.destinasi-page:before {
  content: "";
  position: absolute;
  top: -120px;
  left: -25%;
  width: 60%;
  height: 40%;
  background-color: #e8c614;
  border-radius: 50%;
  z-index: -1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #e8eedc;
  color: #004225;
  border: 2px solid #004225;
  padding: 9px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.pagination button.active {
  background-color: #e8c614;
  color: #004225;
}

.pagination button:disabled {
  background-color: #004225;
  color: #eeeeee;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #004225;
  color: #eeeeee;
  cursor: pointer;
}

.tim-kami-section {
  background-color: #e8eedc;
  padding: 50px 0;
}

.tim-kami-section .container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

#tim-kami h2 {
  font-size: 2.8rem;
  text-align: center;
}

#tim-kami p {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.team-member {
  background-color: #005c42;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.team-member::after {
  content: "";
  position: absolute;
  bottom: 93px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #e8c614;
}

.team-member h4 {
  margin-top: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 1.3rem;
}

.team-img {
  width: 100%;
  height: 280px;
  border-radius: 30px 30px 0 0;
  transition: transform 0.5s ease;
}

.team-member:hover .team-img {
  transform: scale(1.1);
}

.team-member .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #eeeeee;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member:hover .overlay {
  opacity: 1;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #eeeeee;
  font-size: 2.5rem;
  margin-top: 100px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e8c614;
}

/* FAQ Tentang */
.section-faq {
  background-color: #eeeeee;
}

.wrapper {
  max-width: 85%;
  margin: auto;
  margin-bottom: 20px;
}

.wrapper button {
  text-align: left;
  overflow-wrap: break-word;
}

.wrapper p,
.wrapper h1 {
  margin: 1.5rem 0;
}

.wrapper h2 {
  letter-spacing: 3px;
  text-align: center;
  font-size: 3rem;
}

.accordion {
  background-color: #d2e0bb;
  color: rgba(30, 28, 28, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 1.5rem 1.8rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-radius: 10px;
}

.accordion.active {
  background-color: #004225;
  color: #eeeeee;
}

.accordion i {
  font-size: 1.6rem;
}

.pannel {
  padding: 0 2rem 1rem 1.8rem;
  background-color: #eeeeee;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.faq.active .pannel {
  max-height: 200px;
}

.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  margin: 10px 0;
}

.faq.active .pannel {
  display: block;
}

.tentang-kami-page .text {
  text-align: justify;
  font-size: 1.5em;
  margin-left: 20px;
}

.tentang-kami-page {
  background-color: #eeeeee;
  padding-bottom: 30px;
}

.tentang-kami-page h2 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-left: 110px;
}

.tentang-kami-img img {
  width: 580px;
  height: auto;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text1 {
  opacity: 0;
  animation: fadeInDown 1s ease-in-out forwards;
}

.animated-content1 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Trigger the animation */
.animated-content1.animate {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

.animated-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Trigger the animation */
.animated-content.animate {
  opacity: 1;
  transform: translateY(0);
}

.edukasi-page {
  background-color: #e8eedc;
}

.edukasi-content {
  background-color: #eeeeee;
}

.edukasi-page h2 {
  font-size: 1.6rem;
}

.text-green {
  color: #56ab2e;
}

.judul-edukasi {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.edukasi-btn {
  background-color: #004225;
  color: #eeeeee;
  border: 3px solid #004225;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  margin: 8px;
}

.edukasi-btn:hover {
  background-color: #e8eedc;
  border: 3px solid #004225;
  color: #004225;
}

.edukasi-btn.aktif {
  background-color: #e8eedc;
  border: 3px solid #004225;
  color: #004225;
}

.edukasi-content h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.edukasi-content p {
  font-size: 1.2rem;
}

.edukasi-content ul li {
  font-size: 1.2rem;
}

.edukasi-content img {
  width: 60%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.dampak,
.solusi {
  background-color: #d2e0bb;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

/* Efek hover */
.dampak:hover,
.solusi:hover {
  background-color: #004225;
  color: #eeeeee;
  box-shadow: 0px 0px 15px rgba(22, 62, 14, 0.4);
}

/* Spesies Page */

.spesies-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 50vw;
  height: 100%;
  background-color: #e8c614;
  border-radius: 0 100% 100% 0;
  z-index: -1;
}
.spesies-page h2 {
  font-size: 50px;
  padding-bottom: 20px;
}
.spesies-card i {
  font-size: 10px;
}
.spesies-card a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: #3f7f22;
  font-size: 1.3rem;
}
.spesies-card {
  display: flex;
  background-color: #d2e0bb;
  border-radius: 10px;
  margin-bottom: 20px; /* Menambahkan jarak antara kartu */
  padding: 20px;
}

.spesies-image {
  align-self: flex-start; /* Menempatkan gambar di pinggiran kiri kartu */
  width: 450px;
  height: auto;
  border-radius: 10px; /* Membuat sudut gambar melengkung */
}

.spesies-text {
  flex: 1;
  overflow: auto; /* Memberikan efek overflow jika teks melebihi ruang yang tersedia */
  text-align: justify;
  font-size: 1.3rem;
}

.spesies-page .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.spesies-page .pagination button {
  background-color: #e8eedc;
  color: #004225;
  border: 2px solid #004225;
  padding: 9px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.spesies-page .pagination button.active {
  background-color: #004225;
  color: #eeeeee;
}

.spesies-page .pagination button:disabled {
  background-color: #004225;
  color: #eeeeee;
  cursor: not-allowed;
}

.spesies-page .pagination button:hover {
  background-color: #004225;
  color: #eeeeee;
  cursor: pointer;
}

.pagination-item {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 25px;
}

.pagination-item:hover,
.pagination-item.active {
  background-color: #004225;
  color: #eeeeee;
  border-color: #004225;
}

.cerita-kita-page .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cerita-kita-page h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

.cerita-kita-page h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.page-cerita {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  border-radius: 20px;
  height: 520px;
  padding-top: 30px;
}

.cerita-detail {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: justify;
  word-spacing: -2px;
  font-size: 1.1rem;
  line-height: 30px;
}

.edit-cerita-page .container {
  position: relative;
}

.edit-cerita-page .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.edit-cerita-page h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.edit-cerita-page img {
  position: absolute;
  top: -130px;
  right: 60px;
  width: 100%;
  max-width: 500px; /* Ubah sesuai kebutuhan */
}

.btn-kirim-cerita {
  background-color: #004225 !important;
  color: #eeeeee !important;
  border: 3px solid #004225 !important;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 6px 12px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 20px;
  float: right;
}

.btn-kirim-cerita:hover {
  background-color: #e8eedc !important;
  color: #004225 !important;
  border: 3px solid #004225 !important;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 6px 12px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 20px;
}

.form-group label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.detail-spesies {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.spesies-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.spesies-image-container {
  flex: 1 1 45%;
}

.spesies-detail-wrapper {
  flex: 1 1 50%;
}

.spesies-detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.spesies-description {
  margin-top: 20px;
}

.spesies-detail-wrapper p {
  margin: 0 0 10px;
}

.spesies-detail-wrapper h2 {
  text-align: center;
  text-decoration: solid;
}

.detail-row {
  display: flex;
  justify-content: space-between;
}

.detail-row p {
  flex: 1;
  margin-right: 20px;
}

.detail-row p:last-child {
  margin-right: 0;
}

.spesies-detail-text hr {
  margin: 10px 0;
}

.spesies-detail-text p {
  margin-bottom: 10px;
}

.spesies-detail-text p strong {
  display: inline-block;
  width: 308px;
}
.spesies-detail-text p span {
  color: #19481b;
}
.spesies-detail-row p span {
  color: #4caf50;
}

.detail-spesies .btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #004225;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid #004225;
}

.detail-spesies .btn-back:hover {
  background-color: #e8eedc;
  color: #004225;
  border: 2px solid #004225;
}

#cerita-kamu {
  padding: 30px 0;
}

#cerita-kamu h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

#cerita-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#cerita-list .col-md-4 {
  flex: 0 0 calc(33.333% - 20px); /* Lebar masing-masing kolom */
  max-width: calc(33.333% - 20px); /* Lebar maksimum masing-masing kolom */
}

#cerita-list .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative; /* Tambahkan agar bisa menempatkan tombol secara absolut */
  background-color: #004225;
}

#cerita-list .card:hover {
  transform: translateY(-5px);
}

#cerita-list .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cerita-list .card-text .text-muted {
  color: #eeeeee !important;
}

#cerita-list .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #eeeeee;
}

#cerita-list .card-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #eeeeee;
  text-align: justify;
}

#cerita-list .card-body .btn {
  float: right;
  margin-left: 10px;
}

/* Mengatur warna tombol edit */
.card-body .edit-button,
.card-body .delete-button {
  background-color: #004225; /* Warna biru sesuai tema Bootstrap */
  border-color: #e8eedc;
  color: #eeeeee;
}

.card-body .delete-button:hover,
.card-body .edit-button:hover {
  background-color: #e8eedc; /* Warna biru yang lebih gelap saat di-hover */
  border-color: #004225;
  color: #004225;
}

.edit-profile h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-ubah {
  background-color: #004225; /* Warna biru sesuai tema Bootstrap */
  border-color: #e8eedc;
  color: #eeeeee;
  float: right;
  margin-bottom: 20px;
}

.btn-ubah:hover {
  background-color: #e8eedc; /* Warna biru yang lebih gelap saat di-hover */
  border-color: #004225;
}

.profile-picture {
  width: 80%; /* Sesuaikan ukuran maksimum yang diinginkan */
  margin-top: -60px;
  float: left;
}

.edit-profile .form-control {
  width: 100%;
}
